@import url(http://fonts.googleapis.com/css?family=Michroma);
/*similar to Eurostile*/
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700);
/*similar to CityLight*/
html {
  background-color: black;
  color: white;
}
body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Anonymous Pro', monospace;
}
header {
  margin: 30px auto;
  width: 90%;
  height: 100px;
}
#header-text {
  width: 60%;
  display: block;
  height: 100%;
  float: right;
  vertical-align: middle;
  display: inline-block;
  color: rgb(50, 175, 200);
  text-align: left;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
p #title {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 4px;
}
p {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 6s steps(60, end); 
}
@keyframes type { 
  from { width: 0; } 
} 
@keyframes type2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}
#logo {
  width: 40%;
  display: block;
  height: 100%;
  float: left;
  line-height: 100px;
}
#logo img {
  max-width: 100%;
  max-height: 65px;
  vertical-align: middle;
}
#game {
  float: left;
  width: 100%;
}
section {
  width: 70%;
  margin: 0;
  float: left;
  vertical-align: top;
  display: inline-block;
}
aside {
  width: 30%;
  margin: 0;
  float: right;
  vertical-align: top;
  display: inline-block;
}
#board {
	width: 400px;
	height: 400px;
	background-color: rgba(200,200,200,..1);
	margin: 0 auto;
	padding: 0;
}
.tile {
	background-color: rgba(50, 175, 200, .1);;
	width: 100px;
	height: 100px;
	float: left;
	margin: 0;
	padding: 0;
}