@import url(http://fonts.googleapis.com/css?family=Michroma);
/*similar to Eurostile*/
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700);
/*similar to CityLight*/
html {
  background-color: black;
  color: white;
  position: relative;
  height: 100%;
}
body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Anonymous Pro', monospace;
}
header {
  margin: 30px auto;
  width: 90%;
  height: 100px;
}
#header-text {
  width: 60%;
  display: block;
  height: 100%;
  float: right;
  vertical-align: middle;
  display: inline-block;
  color: rgb(50, 175, 200);
  text-align: left;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
p {
  font-size: 16px;
}
p.title {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 4px;
}
.typingslow {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 7s steps(60, end); 
}
@keyframes type { 
  0% { width: 0; } 
  25%{width: 0;}
  100%{ width: 100; } 
} 
.typingfast {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 8s steps(60, end); 
}
@keyframes type2 {
  0%{width: 0;}
  75%{width: 0;}
  100%{ width: 100; } 
}
.typingfastdelayed {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type3 10s steps(60, end); 
}
@keyframes type3 {
  0%{width: 0;}
  80%{width: 0;}
  100%{ width: 100; } 
}
#logo {
  width: 40%;
  display: block;
  height: 100%;
  float: left;
  line-height: 100px;
}
#logo img {
  max-width: 100%;
  max-height: 65px;
  vertical-align: middle;
}
main {
  width: 800px;
  height: 400px;
}
section {
  height: 100%;
  width: 69%;
  /*margin: 0;*/
  /*vertical-align: top;*/
  display: inline-block;
}
aside {
  height: inherit;
  width: 29%;
  background-color: rgba(50, 175, 200, .1);
  vertical-align: top;
  display: inline-block;
}
#board {
	width: 408px;
	height: 408px;
/*	background-color: rgba(200,200,200,..1);*/
	margin: 0 auto;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(50, 175, 200, .7);
}
.tile {
	background-color: rgba(50, 175, 200, .1);
	width: 100px;
	height: 100px;
	float: left;
	margin: 0;
	padding: 0;
  text-align: center;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(50, 175, 200, .7);
}
.tile img {       
  width: inherit;
  height: inherit;
  }