@import url(http://fonts.googleapis.com/css?family=Michroma);

body {
  text-align: center;
  font-family: 'Michroma', Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	font-weight: bold;
}
#board {
	width: 600px;
	height: 600px;
	background-color: rgba(200,200,200,.5);
	margin: 0 auto;
	padding: 0;
}

.tile {
	background-color: rgba(122,0,0,.2);
	width: 150px;
	height: 150px;
	float: left;
	margin: 0;
	padding: 0;
}